<div class="page page-line">
    <div class="gutter-example">
      <div nz-row [nzGutter]="[16, 16]">
        <div nz-col class="gutter-row" [nzSpan]="8" *ngFor="let i of array">
          <div class="grid-config">
            <nz-card>
              <div class="main">
                <img src="https://pic.pimg.tw/vemma888/1417069862-945534854.jpg" alt="" />
                <div class="name">H.Y Lin</div>
                <div class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium nemo placeat repudiandae non?</div>
              </div>
            </nz-card>
          </div>
        </div>
      </div>
    </div>
</div>
