<div class="page page-parking">
  <div class="parking-list" *ngFor="let park of list$ | async">
    <nz-card (click)="park.show = !park.show">
      <div class="preview">
        <img [src]="park.photos[0]" />
      </div>
      <div class="content">
        <div class="description">
          <div class="title">出租</div>
          <div class="info">
            <div>
              <span class="label">位置:</span>
              <span class="text">{{ park.position }}</span>
            </div>
            <div>
              <span class="label">類型:</span>
              <span class="text">一般車位</span>
            </div>
            <div>
              <span class="label">鄰近:</span>
              <span class="text">子棟、子棟、子棟、子棟</span>
            </div>
          </div>
        </div>
        <div class="price">
          <span>{{ park.price }}</span>
          <span>元/月</span>
        </div>
      </div>
    </nz-card>

    <nz-descriptions
      [hidden]="!park.show"
      nzBordered
      [nzColumn]="{ xxl: 4, xl: 4, lg: 2, md: 2, sm: 2, xs: 1 }"
    >
      <nz-descriptions-item nzTitle="位置">{{
        park.position
      }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="價錢">{{
        park.price
      }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="刊登日期">{{
        park.publish_date | date: 'yyyy-MM-dd HH:mm:ss'
      }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="更新日期">{{
        park.update_date | date: 'yyyy-MM-dd HH:mm:ss'
      }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="聯絡方式" [nzSpan]="4">
        <div>
          <div class="label">屋主:</div>
          <div class="text">{{ park.contact.name }}</div>
        </div>
        <div>
          <div class="label">電話:</div>
          <div class="text">{{ park.contact.phone }}</div>
        </div>
        <div>
          <div class="label">棟別:</div>
          <div class="text">{{ park.contact.dongbet }}</div>
        </div>
        <div>
          <div class="label">戶號:</div>
          <div class="text">{{ park.contact.account }}</div>
        </div>
        <div>
          <div class="label">Line ID:</div>
          <div class="text">{{ park.contact.line_id }}</div>
        </div>
        <div>
          <div class="label">備註:</div>
          <div class="text">{{ park.contact.note }}</div>
        </div>
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="狀態">
        {{
          park.state.action === "contract"
            ? "承租中"
            : park.state.begin && park.state.end
            ? park.state.begin + "~" + park.state.end
            : "其他"
        }}
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="租約">
        {{
          park.lease.action === "short"
            ? "短期"
            : park.lease.action === "long"
            ? "長期"
            : "其他"
        }}
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="付款方式">
        {{
          park.payment.action === "month"
            ? "月繳"
            : park.payment.action === "season"
            ? "季繳"
            : park.payment.action === "year"
            ? "年繳"
            : "其他"
        }}</nz-descriptions-item
      >
      <nz-descriptions-item nzTitle=""></nz-descriptions-item>
      <nz-descriptions-item nzTitle="描述">{{
        park.description
      }}</nz-descriptions-item>
    </nz-descriptions>
  </div>

  <nz-pagination [nzPageIndex]="1" [nzTotal]="500"></nz-pagination>
</div>
