<div class="page page-everything">
  <div class="filter" *ngIf="categoryPath === 'all'">
    <nz-select
      nzMode="tags"
      nzPlaceHolder="Tag Mode"
      [(ngModel)]="listOfTagOptions"
    >
      <nz-option
        *ngFor="let option of listOfOption"
        [nzLabel]="option.label"
        [nzValue]="option.value"
      ></nz-option>
    </nz-select>
  </div>
  <div class="search">
    <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
      <input
        type="text"
        nz-input
        placeholder="input search text"
        (input)="searchInput($event)"
        [(ngModel)]="inputTerm"
      />
    </nz-input-group>
    <ng-template #suffixIconButton>
      <button nz-button nzType="primary" nzSearch>
        <i nz-icon nzType="search"></i>
      </button>
    </ng-template>
  </div>

  <nz-list nzItemLayout="horizontal" [nzLoading]="loading">
    <nz-list-item *ngFor="let item of filterList" (click)="item.show = !item.show">
      <div class="meta">
        <nz-list-item-meta>
          <nz-list-item-meta-title>
            {{ item.title }}
          </nz-list-item-meta-title>
          <nz-list-item-meta-description>
            <span>{{ item.date | date: "yyyy-MM-dd" }} </span>
            <span>{{ CATEGORY_TEXT[item.category] }}</span>
          </nz-list-item-meta-description>
        </nz-list-item-meta>
      </div>
      <div class="detail" [ngClass]="{show: item.show}">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem dolores
        tempora in quas quasi dolore impedit obcaecati pariatur perferendis
        corporis sunt sapiente, necessitatibus illo delectus, sint repellat, ad
        rem minus.
      </div>
    </nz-list-item>
    <nz-list-empty *ngIf="filterList.length === 0"></nz-list-empty>
  </nz-list>
</div>
