.page-everything {
  .demo-infinite-container {
    height: 300px;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
  }

  nz-list {
    padding: 24px;
  }

  nz-list-item {
    flex-flow: row wrap;
  }

  
  nz-select {
    width: 100%;
    margin-bottom: 1rem;
  }

  .meta {
    width: 100%;
    cursor: pointer;
  }

  .detail {
    height: 0;
    overflow: hidden;

    &.show {
      height: auto;
    }
  }

  .image {
    img {
      width: 100%;
      height: auto;
      margin-bottom: 1rem;
    }
  }

  .attach-files {
    button {
      margin-right: 7px;
    }
  }
}
